:root{
    /* Colors */
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    /* font */
    --header-font: 'Poppins';
    --header-weight-1: 400;
    --header-weight-2: 600;
    --body-font: 'Open Sans';
    --body-weight: 400;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: var(--body-font);
    font-weight: 400;
}

.container{
    /* width: 90%;
    margin: auto; */
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: flex-start;
}

.logo{
    margin-top: 20px;
}

main{
    display: flex;
    justify-content: space-between;
}

.content-img{
    margin-right: 20px;
    margin-top: 20px;
    /* align-self: center; */
}

.content-main{
    /* align-self: center; */
    margin-left: 20px;
    margin-top: 20px;
}

.paragraph{
    font-family: var(--body-font);
    line-height: 1.5;
    opacity: 0.9;
}

.btn{
    font-family: var(--body-font);
    font-weight: 600;
    background-color: #fff;
    color: var(--violet);
    padding: 15px;
    border-radius: 100px ;
    width: 40%;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--magenta);
    color: #fff;
}

.heading{
    font-family: var(--body-font);
    font-weight: var(--header-weight-2);
    font-size: 45px;
    line-height: 1.5;
    text-transform: capitalize;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

footer i{
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 100px;
}
footer a{
    color: #fff;
}

footer i:hover{
    color: var(--magenta);
    border: 1px solid var(--magenta);
}

.attribution{
    text-align: center;
}

@media (max-width:768px){
    body{
        margin: auto;
        text-align: center;
    }

    .logo{
        margin: auto 20px;
        text-align: center;
    }

    main{
        flex-direction: column;
    }

    main img{
        width: 80%;
    }

    .heading{
        font-size: 30px;
        opacity: 0.9;
    }

    .paragraph{
        text-align: center;
    }

    .btn{
        margin: auto;
    }

    footer{
        justify-content: center;
        margin-top: 20px;
        padding-top: 50px;
    }
}

/* @media (min-width:320px) and (max-width: 768px){
    body{
        margin: auto;
        text-align: center;
    }

    .logo{
        margin: auto 20px;
    }

    main{
        flex-direction: column;
    }

    main img{
        width: 80%;
    }

    .heading{
        font-size: 30px;
        opacity: 0.9;
    }

    .paragraph{
        text-align: center;
    }

    .btn{
        margin: auto;
    }

    footer{
        justify-content: center;
        margin-top: 20px;
        padding-top: 50px;
    }
} */