body {
    background: url(images/bg-desktop.svg), hsl(228, 45%, 44%);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.middle-section {
    display: flex;
}

.hero-img {
    width: 50%;
    margin: 30px;
}

.content {
    width: 40%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 2;
    margin: 10px;
    padding: 20px;
}
.btn {
    background: white;
    padding: 0.5rem;
    width: 80px;
    color: hsl(257, 40%, 49%);
    border-radius: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: hsl(300, 69%, 71%);
}

footer {
    display: flex;
}